NEXT_PUBLIC_SUPABASE_URL=https://vlievtojpmrbsmzlqswl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsaWV2dG9qcG1yYnNtemxxc3dsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxODcxNjIsImV4cCI6MjA5ODc2MzE2Mn0.gZ0zrNmT0vB13fsVhmkOnh-MTRfrIGehyiKf2nEluL8
NEXT_PUBLIC_APP_NAME=MENALA AIRPORT OPERATION SYSTEM
NEXT_PUBLIC_APP_VERSION=1.0.0
